.alinhamento-card{
    display:flex;
    justify-content: center;
    align-items: center; 
    height: 100%;   
}

.tamanho-card{
    min-height: 150px; 
    height: 100%;   
    color: #0097e6;
}

.container-pagina{   
    height: 100%;   
}
.texto-titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    margin-top: 40px;
    font-weight: bold;
}

.texto-porcentagem{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    margin-top: 40px;
    font-weight: bold;
}